@import "vars.less";
.arrowPosition{
	position: fixed;
	bottom:25%;
	right:10%;
}
.main__upArrowDouble{
	margin-bottom:@blockMrBtm;
	width:2.5em;
	height:2.5em;
	content:'';
	background:url('img/arrowUp.svg')no-repeat 50% 50%;
	background-size:cover;
	display:none;
}